<app-header [titulo]="titulo" [backButton]="backButton"></app-header>

<ion-content class="ion-padding">
    <ion-list-header style="margin-top: 1cm;">
        <ion-label>Nombre: {{nombre || "Default"}}</ion-label>
    </ion-list-header>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="nombre"></ion-input>
        </ion-item>
    </ion-list>
    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="usuario.email" name="email" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" [(ngModel)]="usuario.clave" name="clave" required></ion-input>
            </ion-item>
        </ion-list>
        <ion-list-header>
            <ion-label *ngIf="formulario.valid"> Formulario: Valido</ion-label>
            <ion-label *ngIf="formulario.invalid"> Formulario: Invalido</ion-label>
        </ion-list-header>
        <ion-button expand="full" shape="round" type="submit" [disabled]="formulario.invalid"> Enviar</ion-button>
    </form>
</ion-content>